/* @import url(https://fonts.googleapis.com/css?family=Orbitron:700,900,500,400); */

@font-face {
    font-family: "Digital";
    src: url("DigitalNumbers-Regular.woff") format("woff");
   }
  

html, body {
    /* margin et padding doivent être mis à 0 si ont veut utiliser 100% de la largeur et hauteur
    sinon, il y a des scrollbar qui apparaissent. */
    margin: 0;
    padding: 0;
    --glow: 0px 2px 25px rgba(144, 244, 253, .6);
    --backgroundDark: #222222;
    --grey: #222222;
    --paleturquoise: #afeeee;
    --debugBorder: 1px solid red;
    /* --debugBorder: 0px solid red; */
    width: 100%;
    height: 100%;
    background: black; /* vrai noir pour économiser l'énergie */
    font-family: 'Digital', sans-serif;
}

.box {
    /* aspect-ratio: 2; */
    /* avec le modèle border-box, la bordure est inclue dans les 100% */
    box-sizing: border-box;
    width:100%;
    height:100%;
    border: 15px solid var(--grey);
    border-radius: 35px;
    font-size: 4vw;
    color: var(--paleturquoise);
    position: relative;
  }
#heure {
    border: var(--debugBorder);
    font-size: 2.75em;
    text-shadow: var(--glow);
    margin: 1px 0 0.5em 0;
}
#date {
    border: var(--debugBorder);
    text-align: center;
}
#alarme {
    border: var(--debugBorder);
    text-align: center;
}
.boutons_du_haut {
    display: flex;
    justify-content: space-between;
    border: var(--debugBorder);
}
#ajuster, #volume {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: 2.5em;
    color: var(--paleturquoise);

}
.fermeFenetreAjuster {
    cursor: pointer;
 }
.popup-modal {
    box-sizing: border-box;
    width:100%;
    height: 100%;
    border: 15px solid var(--grey);
    border-radius: 35px;
    font-size: 4vw;
    color: var(--paleturquoise);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: black;
    transition: all 300ms ease-in-out;
    z-index: 1;
}  
.popup-modal.is--visible {
    opacity: 1;
    pointer-events: auto;
  }
